/* MENU HAMBURGER */
Hamburger

  nav {
    display: none;
  }

  label {
    display: block;
  }

  label .menu {
    position: fixed;
    right: 10px;
    top: -100px;
    z-index: 100;
    width: 100px;
    height: 200px;
    background: #c23946;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    border-radius: 10px;

  }

  label .hamburger {
    position: absolute;
    top: 150px;
    left: 35px;
    width: 30px;
    height: 2px;
    background: #313638;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }

  label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #313638;
  }

  label .hamburger:before { top: -10px; }

  label .hamburger:after { bottom: -10px; }

  label input { display: none; }

  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #313638, 0 0 0 100vh #313638;
  }

  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;

  }

  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;

  }

  label input:checked + .menu + ul {
    opacity: 1;
    z-index: 200;
   }

  label ul {
    z-index: -10;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    list-style: none;
    padding: 0;

  }

  label a {
    margin-bottom: 1em;
    display: block;
    color: #f38630;
    text-decoration: none;
    font-family: verdana;
    color: white;
    font-size: 1.5rem;
    text-align: center;

  }

/* FIN HAMBURGER */

body {
  margin: 0;
  font-family: verdana;
  font-size: 0.8rem;
  background-color: #313638;
  color:white;
}




#avatar img {
  width: 200px;
  border-radius: 30px;
}



.avatar_download {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 89vh;
  align-items: center;
  justify-content:center;
  margin: auto;
  margin-top: 5%;
}

div .download{
  margin-top: 5%;
}


.download {
  background-color: #c23946;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  font-size: 1.3em;
}

.download:hover {
  background-color: white;
}

.download:hover span {
  color: #313638;
}


.profil p {
  text-align: center;
  padding: 10px 0 10px 0;
  color: #313638;
  margin-top:15px;
  margin-bottom:0;
}

.profil {
  background-color: #dcdde1;
}

.a-propos {
  height: 100vh;
}

/* Icone contact */


:root {
  --bg: #dcdde1;
  --color-icon: #313638;
  --social-icon1: #c23946;
  --social-icon2: #0077B5;
  --social-icon3: #c23946;
  --social-icon4: #0077B5;
}


section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  z-index: 200;
  position:fixed;
  bottom: 0;

}

.icon-list {
  width: 100%;
  max-width: 50rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
}

.icon-item {
  list-style: none
}

.icon-link {

  font-size: 2rem;
  text-decoration: none;
  color: var(--color-icon);
  width: 6rem;
  height: 6rem;
  transition: .3s linear;
  position: relative;
  z-index: 1;
  margin: auto
}

.icon-link:hover {
  color: #fff;
  background-color: #313638;
  border-radius: 10px;
  padding: 5px;
}

.icon-link i {
  margin: auto;
}


.icon-link:hover::before {
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
  background: var(--social-icon1);
}

.icon-item:nth-child(2) a:hover:before {
  background: var(--social-icon2);
}

.icon-item:nth-child(3) a:hover:before {
  background: var(--social-icon3);
}

.icon-item:nth-child(4) a:hover:before {
  background: var(--social-icon4);
}

.icon-item:nth-child(5) a:hover:before {
  background: var(--social-icon5);
}
/* Fin icone réseau */

/* Slide competence */




.icone-logiciel img{
  width: 80px;
  padding: 10px;
}

.icone-logiciel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-content:space-around;
  height: 250px;
  margin-top: 20px;
}


.soft-skill {
  display: flex;
  flex-wrap: wrap;
  font-size: small;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 250px;
  margin-top: 20px;
}

.icone-logiciel p {
  text-align: center;
  color:white;
  margin-top: 0;
}

.soft-skill ul {
  padding:0;
}

.soft-skill li {
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  color:white;
  list-style: none;
  line-height: 35px;
}

.section-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: verdana;
  overflow: scroll;
  background-color: #dcdde1;
  padding:10px;
}

.section-slide h2 {
  display: flex;
  font-size: large;
  margin-top: 45px;
  justify-content: center;
  color: white;

}

.competence {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #313638;
}

.ci {
  position: absolute;
  top: 0;
  transform-origin: left 50%;
  background: inherit;
  z-index: var(--z);
  transition: .3s ease-out;
  width: 100%;
}


input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -10;
}

.section-slide label {
  width: 20%;
  height: 4px;
  margin-right: 5px;
  border-radius: 20px;
  background: hsla(0 0% 90% / .3);
  cursor: pointer;
  position: relative;
  z-index: 10;
}

label:last-child {
  margin-right: 0;
}

input:checked+label {
  background: #c23946;
}

input:not(:checked)+label+.ci {
  transform: translateX(-100%);
  opacity: 0;
}

input:checked+label+.ci~.ci {
  transform: translateX(100%);
}

input:not(:checked)+label+.ci {
  transition: 0;
}

/* Fin Slide competence */

.loisirs {
  background-color: #dcdde1;
  color: #313638;
}

.loisirs h3 {
  margin-top: 0;
  text-align: center;
  padding-top: 15px;

}




/* Timeline */

.timeline{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
	background-color:#313638;
	color:#fff;
  margin:auto;

}
.timeline ul{
	list-style-type:none;
	border-left:2px solid #c23946;
	padding:10px 5px;
  margin-left: 20px;
  margin-right: auto;
}
.timeline ul li{
	padding:20px 10px;
	position:relative;
	cursor:pointer;
	transition:.5s;

}
.timeline ul li span{
	display:inline-block;
	background-color:#c23946;
	border-radius:25px;
	padding:2px 5px;
	font-size:15px;
	text-align:center;
}
.timeline ul li .content h3{
	color:white;
	font-size:1em;
	padding-top:5px;
}
.timeline ul li .content p{
	padding:5px 0px 15px 0px;
	font-size:1em;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:white;
	border-radius:50%;
	left:-11px;
	top:26px;
	transition:.5s;
}
.timeline ul li:hover{
	background-color:#071f2a;
}
.timeline ul li:hover:before{
	background-color:white;
	box-shadow:0px 0px 10px 8px #c23946;
}


/* Portfolio */

#folio h3 {
  text-align: center;
  font-size: 1.8em;
}

.box {
  background-color: #313638;
  width: 85%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;


}

.box p {
  border-radius: 0px 0px 5px 5px;
  height: 50px;
  background-color: rgba(25, 25, 25, 0.7);
  color: white;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  font-family: verdana;
  padding-left: 10px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.photo {
  height: 300px;
  width: 500px;
  border-radius: 5px;
  margin: 10px;
  background-size: cover;
  position:relative;
}

.hovered {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%; width: 100%;
  opacity: 0; transition: all .5s;
  background-color: rgba(25, 25, 25, 0.8);
}

.hovered span {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  font-family: verdana;
  text-align: center;

  line-height: 1.5;
}



#japan1 {
  background-image: url("../img/japan-1.jpeg");
}

#japan1:hover .text{
  opacity: 0;
}

#japan1:hover .hovered{
  opacity: 1;
}




#japan2 {
  background-image: url("../img/japan-2.jpeg");
}

#japan2:hover .text{
  opacity: 0;
}

#japan2:hover .hovered{
  opacity: 1;
}




#japan3 {
  background-image: url("../img/japan-3.jpeg");
}

#japan3:hover .text{
  opacity: 0;
}

#japan3:hover .hovered{
  opacity: 1;
}




#japan4 {
  background-image: url("../img/japan-4.jpeg");
}

#japan4:hover .text{
  opacity: 0;
}

#japan4:hover .hovered{
  opacity: 1;
}




#japan5 {
  background-image: url("../img/japan-5.jpeg");
}

#japan5:hover .text{
  opacity: 0;
}

#japan5:hover .hovered{
  opacity: 1;
}




#japan6 {
  background-image: url("../img/japan-6.jpeg");
}

#japan6:hover .text{
  opacity: 0;
}

#japan6:hover .hovered{
  opacity: 1;
}






@media screen and (max-width: 768px) {


.box div {
  text-align: center;
 }


 .box {
   width: 100%;
 }

#folio {
  margin-bottom: 20%;
}
